# Stellar Network Configuration
VITE_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
VITE_RPC_URL="https://soroban-testnet.stellar.org"

# Deployed Soroban Contract IDs
VITE_CAMPAIGN_MANAGER_ID=""
VITE_DONATION_MANAGER_ID=""

# Stellar Anchor Domain
VITE_ANCHOR_DOMAIN="testanchor.stellar.org"
